{# app/Resources/views/lucky/fecha.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Fecha{% endblock %}
{% block body %}
	<h1>La data d'avui es {{ fecha }}</h1>
	<h2>El numero aleatori es {{ number }}</h2>	
{% endblock %}